@import 'reset';
@import 'main-settings';

.screen-project-text {
    display: none;
}

.caption {
    @include caption;
}

@mixin mobile-block-description {
    color: $main-color-font;
}

.main {
    @include main(35.6%);
}

i.material-icons {
    @include i-fa;
    font-size: 55px;
}

i.fa {
    @include i-fa;
}

.main-menu {
    display: inline;
    padding-left: 84%;
}

@import 'mobile/header';
@import 'mobile/slider';
@import 'mobile/main-content';
@import 'mobile/talk-to-us';
@import 'mobile/contact-us';
@import 'mobile/contact-details';
@import 'mobile/copyright';

