@import 'scss/reset';

a {
    text-decoration: none;
    color: black;
}

label {
    display: none;
}

$corporate-color: rgb(243, 107, 73);
$main-color-font: rgb(156, 156, 156);
$input-color-font: rgb(240, 240, 240);
$basic-color: rgb(255, 255, 255);
$talk-color: rgb(122, 122, 122);

@mixin align-center {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

@mixin inline-blocks {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    letter-spacing: normal;
}

.caption {
    font-size: 26px;
    font-weight: 500;
    border-bottom: 2px solid $corporate-color;
}

.block-description {
    line-height: 1.5;
    color: $main-color-font;
    /*font-size: 14px; */
}

.main {
    width: 1344px;
    margin: 0 auto;
    font-family: Ubuntu, "Times New Roman", Times, serif;
}

i.material-icons,
i.fa {
    color: $corporate-color;
}

@import 'scss/desctop/header';
@import 'scss/desctop/slider';
@import 'scss/desctop/main-content';
@import 'scss/desctop/talk-to-us';
@import 'scss/desctop/contact-us';
@import 'scss/desctop/contact-details';
@import 'scss/desctop/copyright';