/* slides example*/
.content-slider-example {
        @include align-center;

        .navigation-examle {            
            @include inline-blocks;
            margin-top: 5%;
            text-align: center;
        }

        .central-content-examle {                        
            padding-top: 50px; 
            overflow: hidden;            
            width: 300px;
            height: 200px;
            background-color: $input-color-font;
            @include align-center;
            //letter-spacing: 50px;

            .slides-footer {
                @include inline-blocks;
                padding: 50px auto 10px auto;                  
                overflow: hidden;
                text-align: center;
            } 
        }

        .content-text {
            display: block;
            margin: 2.5% auto;
        }
    }

.copyright {
    margin-top: 17%;
    background-color: $corporate-color;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
    line-height: 56px;
}