.main-content {
    @include main-content(6%);

    .caption-text {
        @extend .block-description;
        @include caption-text(5% auto, 0 14%);
    }

    .content-body {
        margin-bottom: -24.5%;

    }

    .sections {
        @include sections;
        width: 32%;
        line-height: 1.5;

        i.sections-icons {
            @include i-sections-icons;
            text-align: center;
        }

        .sections-text {
            @include sections-text;
        }
    }

    .sections:nth-child(1) {
        margin-top: 0.8%;
        margin-left: 12%;
    }

    .sections:nth-child(4) {
        position: relative;
        top: -472px;
        padding-left: 57%;
    }

    .sections:nth-child(2) {
        position: relative;
        top: 50px;
        padding-left: 12%;
    }

    .sections:nth-child(3) {
        position: relative;
        top: -106px;
        padding-left: 57%;
    }

    .project-text {
        @extend .block-description;
        @include project-text(20px);
    }

    .screen-project-text {
        @extend .block-description;
    }

    .recent-projects {
        margin: 5% 13% auto 11%;
        padding-bottom: 612px;
    }

    .portfolio {
        @include portfolio;

        .portfolio-name {
            @include portfolio-name;
        }

        .portfolio-text {
            @include portfolio-text;
            padding-right: 8%;
        }
    }

    .portfolio:nth-child(1),
    .portfolio:nth-child(3) {
        float: left;
    }

    .portfolio:nth-child(1),
    .portfolio:nth-child(2) {
        margin-bottom: 8%;
    }

    .portfolio:nth-child(2),
    .portfolio:nth-child(4) {
        float: right;
        margin-left: auto;
    }
}
