.slider {
    .content {
        @include align-center;
        background: url(/img/slider-img-tmp.jpg)0 0 no-repeat;
        background-size: cover;
        letter-spacing: 103px;
        padding-bottom: 21.8%;

        .navigation {
            @include inline-blocks;
            margin-top: 21%;
            text-align: center;
        }

        .central-content {
            padding-top: 3%;
        }

        .content-text {
            display: block;
            margin: 2.1% auto;
        }
    }

    .footer {
        background-color: $corporate-color;
        color: $basic-color;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        padding: 4.65%;
        word-spacing: 2px;

        .text-footer {
            font-size: 24px;
            border-bottom: 1px solid $basic-color;
            color: $basic-color;
        }
    }
}