.contact-details {
    .contact-map {
        display: inline-block;
        width: 100%;
        height: 520px;
    }

    .contact-description {
        .contact-caption {
            @include contact-caption(block, center, 42px);
            line-height: 1.5;
            border-bottom: 2px solid $corporate-color;
            margin: 14% 15% 16% 15%;
        }

        .contact-body {
            @include contact-body(26px, 300, $talk-color);
            padding-left: 11%;
            margin-bottom: 10%;

            i.contact-icon {
                @include i-contact-icon($font-size: 30px);
                float: left;
            }

            .contact-details-text {
                @include contact-details-text(10%);
                width: 70%;
            }
        }

        .contact-body:nth-child(4) {
            margin-bottom: 4%;
        }

        .contact-form {
            @include contact-form(5%, 15%);

            .contact-input {
                @include contact-input(33px, 100%, 2.5%);
                margin-left: 1%;
                padding: 2% 7%;
            }

            .message {
                @include message(150px);
            }

            .contact-submit {
                @include contact-submit(2.7% 33%, 20px);
                margin: 7% 16% auto 15.5%;
            }
        }
    }
}
