.contact-us {
    text-align: center;
    padding-top: 12%;
    .contact-us-caption {
        display: inline-block;
        font-size: 42px;
        font-weight: 500;
        margin-bottom: 12%;
        border-bottom: 2px solid $corporate-color;
    }
    .contact-us-text {
        display: block;
        color: $main-color-font;
        font-size: 22px;
        margin-bottom: 26%;
        padding: 0 4%;
    }
}