.contact-us {
    @include contact-us(12%);

    .contact-us-caption {
        @include contact-us-caption;
        margin-bottom: 12%;
        font-size: 42px;
        font-weight: 500;
    }

    .contact-us-text {
        display: block;
        color: $main-color-font;
        font-size: 22px;
        margin-bottom: 26%;
        padding: 0 4%;
    }
}
