.copyright {
    margin: 32% auto 17% auto;
    background-color: $corporate-color;
    text-align: center;
    color: $basic-color;
    font-size: 18px;
    font-weight: 300;
    line-height: 56px;
}