header {
    @include header;
}

.header-logo {
    @include header-logo(65px, 100);
    text-align: center;
    padding: 15.7% 0 17.2% 0;
}

.header-logo .ui {
    @include ui;
}

nav {
    line-height: 0.5;
    padding-top: 10px;
    float: right;

    .menu-screen {
        visibility: hidden;
    }
}
