header {
    overflow: hidden;
    background-color: $basic-color;
}

.header-logo {
    font-size: 65px;
    font-weight: 100;
    text-align: center;
    padding: 15.7% 0 17.2% 0;
}

.header-logo .ui {
    color: $corporate-color;
}

nav {
    line-height: 0.5;
    padding-top: 10px;
    float: right;

    .menu-screen {
        visibility: hidden;
    }
}