.slider {
    .content {
        @include content(normal, 20%);

        .navigation {
            @include navigation(27%)
        }

        .central-content {
            @include central-content(1%, 250px, 70px);
            @include align-center;

            .slides-step {
                @include slides-step;
            }
        }

        .content-text {
            display: block;
        }

        .next-content {
            max-width: 70%;
            height: auto;
        }

        .welcome-uibrush {
            /*max-width: 250px;*/
            max-width: 250px;
            height: auto;
            padding-bottom: 5%;
        }
    }

    .footer {
        @include footer(5.5%, 14px, 700);

        .text-footer {
            @include text-footer(14px);
            font-weight: 600;
        }
    }
}
