.talk-to-us {
    @include talk-to-us(16%, 0.5%);

    .talk {
        @include talk;
    }

    .to-us {
        @include to-us;
    }

    .talk-text {
        display: block;
        font-size: 22px;
        margin-top: 8%;
        margin-bottom: 21%;
        font-weight: 500;
        padding: 0 4%;
    }
}
