.contact-details {
    @include align-center;
    letter-spacing: 15px;
    margin-top: 3.9%;

    .contact-map {
        @include inline-blocks;
    }

    .contact-description {
        @include inline-blocks;
        font-size: 12px;
        font-weight: 100;
        text-align: left;

        .contact-caption {
            @include contact-caption(inline-block, left, 20px);
            line-height: 1;
            padding-left: 1%;
            margin-bottom: 2.5%;
        }

        .contact-body {
            @include contact-body;
            padding-left: 8%;
            margin-bottom: 3.1%;
        }

        .contact-body:nth-child(4) {
            margin-bottom: 2.7%;
        }

        i.contact-icon {
            @include i-contact-icon;
            float: left;
        }

        .contact-details-text {
            @include contact-details-text(5%);
            line-height: 1.5;
        }

        .contact-form {
            @include contact-form(52px, 6px);

            .contact-input {
                @include contact-input(50px, 300px, 1.5%);
                font-weight: 400;
                display: block;
            }

            .message {
                @include message(166px);
                width: 527px;
            }

            .contact-submit {
                @include contact-submit(2% 7%);
                margin-top: 3%;
                display: block;
            }
        }
    }
}
