/* start slides example*/
.content-slider-example {
    @include align-center;

    .navigation-example {
        @include navigation(5%);
    }

    .central-content-example {
        @include central-content(50px, 300px, 200px);
        background-color: $input-color-font;
        @include align-center;

        .slides-footer {
            @include slides-step;
            padding: 10px 0;
        }
    }

    .content-text-example {
        @include content-text;
    }
}

/*end slides example*/

.copyright {
    @include copyright(14px, 400);
    vertical-align: middle;
    margin: 16.2% auto 7% auto;
}
