.main-content {
    @include main-content(3.9%);

    .caption-text {
        @extend .block-description;
        @include caption-text(2.5% auto, 0 10% 0 10%);
    }

    .content-body {
        @include align-center;
    }

    .sections {
        @include sections;
        margin: 1.5% 5% 3.7% auto;
        width: 17%;
        line-height: 1.5;
        @include inline-blocks;

        i.sections-icons {
            @include i-sections-icons;
            text-align: center;
        }

        .sections-text {
            @include sections-text;
        }
    }

    .sections:nth-child(4) {
        margin-right: auto;
    }

    .project-text {
        @extend .block-description;
        @include project-text;
    }

    .screen-project-text {
        @extend .block-description;
    }

    .recent-projects {
        @include align-center;
        margin-top: 22px;
        padding-bottom: 103px;
    }

    .portfolio {
        @include inline-blocks;
        @include portfolio;
        margin-right: 2.9%;

        .portfolio-name {
            @include portfolio-name;
        }

        .portfolio-text {
            @include portfolio-text;
            padding-right: 8%;
        }
    }
    .portfolio:nth-child(4) {
        margin-right: auto;
    }
}
