.copyright {
    margin: 16.2% auto 7% auto;
    background-color: $corporate-color;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
    line-height: 56px;
}