.talk-to-us {
    padding-top: 5.6%;
    padding-bottom: 9.3%;
    background-color: $talk-color;
    text-align: center;
    font-size: 14px;
    color: white;

    .talk {
        display: inline-block;
        margin-bottom: 1.8%;
        font-size: 60px;
    }

    .to-us {
        color: $corporate-color;
        font-size: 60px;
    }

    .talk-text {
        display: block;
        margin: auto 13%;
        line-height: 1.7em;
        letter-spacing: 0.06em;
    }
}